name: Daily Cosme Post
# reparse noop
on:
  schedule:
    # 30分を35分に少しだけずらしてみる（混雑回避にもなります）
    # - cron: '35 22 * * *'
    # - cron: '35 3 * * *'
    # - cron: '5 12 * * *'
    - cron:  '*/15 * * * *'
  workflow_dispatch: # 手動実行ボタンを残す

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5 # v4からv5へ
        with:
          python-version: '3.10'
          cache: 'pip' # pipのキャッシュを有効化

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Run bot
        env:
          # ここでGitHubに保存したSecretsをPythonに渡します
          BLUESKY_HANDLE: ${{ secrets.BLUESKY_HANDLE }}
          BLUESKY_APP_PASSWORD: ${{ secrets.BLUESKY_APP_PASSWORD }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python bluesky_bot.py
